#populated_places_simple {
    marker-fill-opacity: 0.8;
    marker-line-color: #FFF;
    marker-line-width: 1;
    marker-line-opacity: 1;
    marker-allow-overlap: true;
    marker-width: ramp([pop_max], range(10, 20), quantiles());
    marker-fill: ramp([pop_max], colorbrewer(Greens), jenks());
}
